body {
    font-family: "museo-sans-rounded", Tahoma, Arial, sans-serif;
}
* {
    padding: 0;
    margin: 0;
}
h1 {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 36px;
    margin-top: 35px;
    text-align: center;
}
h2 {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
}
h3 {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 18px;
    margin-top: 35px;
    text-align: center;
}

/* Globals type styling */
h1, h2, h3, h4, h5, h6, p, label, .btn, a{
	font-family: "museo-sans-rounded", sans-serif;
}

h1, h2, h3, h4, h5 {
	font-weight: 100;
    color:rgba(0, 0, 0, 0.6);
}

h6, p, label, .btn, a{
	font-weight: 300;
    color:rgba(0, 0, 0, 0.6);
}

#loSubTitle {
    margin-top:3px;
    text-align: center;
}
#wrap {
    position: absolute;
    display: none;
}
.clearfix {
    clear: both;
}
#crossWords {
    position: relative;
    margin: auto;
    padding: 0px 40px;
    background: #ff9ea2;
    border-radius: 2px;
    box-shadow: 0 10px 40px rgba(0,0,0,.25);
}
.row {
    position: relative;
    overflow: visible;
    border: 1px solid #dedede;
    border-left-color: #ff9ea2;
    background-color: #fff;
}
.row:hover,
.row:focus {
    border: 1px #ff9ea2 solid;
    z-index: 100;
    position: relative;
    background-color: #fff0f0;
}
.row:hover > input,
.row:focus > input {
    border-left-color: #ffcdcf;
}
.inputField {
    display: inline;
    height: 40px;
    width: 40px;
    border: none;
    border-left: 1px solid #dedede;
    margin: -1px -1px 0 0;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 23px;
    line-height: 1.5;
    letter-spacing: 0;
    text-transform: uppercase;
    text-align: center;
    background-color: transparent;
}
.hit {
    background-color: #ffd8da;
}
.description {
    position: absolute;
    background-color: transparent;
    left: 5px;
    top: 5px;
    padding: 0px 6px;
    border-radius: 50px;
    /*    border: 2px solid rgba(255, 255, 255, .8);*/
    color: rgba(255, 255, 255, .5);
}
.clearRow {
    position: absolute;
    background-color: transparent;
    right: -30px;
    top: 9px;
    padding: 0px 4px 4px 4px;
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
}
.tooltip {
    position: absolute;
    padding: 10px 15px;
    background: rgba(255, 255, 255, .95);
    border-radius: 3px;
    display: none;
    min-width: 300px;
    top: 30px;
    left: -15px;
    color: #111;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}
.tooltip:after,
.tooltip:before {
    bottom: 100%;
    left: 25px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.tooltip:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, .95);
    border-width: 10px;
    margin-left: -10px;
}
/* .description:hover .tooltip, .description:focus .tooltip {
    display: block;
    z-index: 1000;
}*/

.hit-1 {
    background-position: -660px 0;
}
.hit-2 {
    background-position: -600px 0;
}
.hit-3 {
    background-position: -560px 0;
}
.hit-4 {
    background-position: -520px 0;
}
.hit-5 {
    background-position: -480px 0;
}
.hit-6 {
    background-position: -440px 0;
}
.hit-7 {
    background-position: -400px 0;
}
.hit-8 {
    background-position: -360px 0;
}
.hit-9 {
    background-position: -320px 0;
}
.hit-10 {
    background-position: -280px 0;
}
.hit-11 {
    background-position: -240px 0;
}
.hit-12 {
    background-position: -200px 0;
}
.hit-13 {
    background-position: -160px 0;
}
.hit-14 {
    background-position: -120px 0;
}
.hit-15 {
    background-position: -80px 0;
}
.hit-16 {
    background-position: -40px 0;
}
.width-16 {
    width: 640px;
}
.width-15 {
    width: 600px;
}
.width-14 {
    width: 560px;
}
.width-13 {
    width: 520px;
}
.width-12 {
    width: 480px;
}
.width-11 {
    width: 440px;
}
.width-10 {
    width: 400px;
}
.width-9 {
    width: 360px;
}
.width-8 {
    width: 320px;
}
.width-7 {
    width: 280px;
}
.width-6 {
    width: 240px;
}
.width-5 {
    width: 200px;
}
.width-4 {
    width: 160px;
}
.width-3 {
    width: 120px;
}
.width-2 {
    width: 80px;
}
.width-1 {
    width: 40px;
}
.offset-0 {
    margin-left: 0px;
}
.offset-1 {
    margin-left: 40px;
}
.offset-2 {
    margin-left: 80px;
}
.offset-3 {
    margin-left: 120px;
}
.offset-4 {
    margin-left: 160px;
}
.offset-5 {
    margin-left: 200px;
}
.offset-6 {
    margin-left: 240px;
}
.offset-7 {
    margin-left: 280px;
}
.offset-8 {
    margin-left: 320px;
}
.offset-9 {
    margin-left: 360px;
}
.offset-10 {
    margin-left: 400px;
}
.offset-11 {
    margin-left: 440px;
}
.offset-12 {
    margin-left: 480px;
}
.offset-13 {
    margin-left: 520px;
}
.offset-14 {
    margin-left: 560px;
}
.offset-15 {
    margin-left: 600px;
}
@media only screen and (max-width: 800px) , screen and (max-height: 630px) {
    /* portrait phones */

    .inputField {
        height: 30px;
        width: 30px;
    }
	.tooltip {
		min-width: 400px;	
	}
    .hit-1 {
        background-position: -480px 0;
    }
    .hit-2 {
        background-position: -450px 0;
    }
    .hit-3 {
        background-position: -420px 0;
    }
    .hit-4 {
        background-position: -390px 0;
    }
    .hit-5 {
        background-position: -360px 0;
    }
    .hit-6 {
        background-position: -330px 0;
    }
    .hit-7 {
        background-position: -300px 0;
    }
    .hit-8 {
        background-position: -270px 0;
    }
    .hit-9 {
        background-position: -240px 0;
    }
    .hit-10 {
        background-position: -210px 0;
    }
    .hit-11 {
        background-position: -180px 0;
    }
    .hit-12 {
        background-position: -150px 0;
    }
    .hit-13 {
        background-position: -120px 0;
    }
    .hit-14 {
        background-position: -90px 0;
    }
    .hit-15 {
        background-position: -60px 0;
    }
    .hit-16 {
        background-position: -30px 0;
    }
    .width-16 {
        width: 480px;
    }
    .width-15 {
        width: 450px;
    }
    .width-14 {
        width: 420px;
    }
    .width-13 {
        width: 390px;
    }
    .width-12 {
        width: 360px;
    }
    .width-11 {
        width: 330px;
    }
    .width-10 {
        width: 300px;
    }
    .width-9 {
        width: 270px;
    }
    .width-8 {
        width: 240px;
    }
    .width-7 {
        width: 210px;
    }
    .width-6 {
        width: 180px;
    }
    .width-5 {
        width: 150px;
    }
    .width-4 {
        width: 120px;
    }
    .width-3 {
        width: 90px;
    }
    .width-2 {
        width: 60px;
    }
    .width-1 {
        width: 30px;
    }
    .offset-0 {
        margin-left: 0px;
    }
    .offset-1 {
        margin-left: 30px;
    }
    .offset-2 {
        margin-left: 60px;
    }
    .offset-3 {
        margin-left: 90px;
    }
    .offset-4 {
        margin-left: 120px;
    }
    .offset-5 {
        margin-left: 150px;
    }
    .offset-6 {
        margin-left: 180px;
    }
    .offset-7 {
        margin-left: 210px;
    }
    .offset-8 {
        margin-left: 240px;
    }
    .offset-9 {
        margin-left: 270px;
    }
    .offset-10 {
        margin-left: 300px;
    }
    .offset-11 {
        margin-left: 330px;
    }
    .offset-12 {
        margin-left: 360px;
    }
    .offset-13 {
        margin-left: 390px;
    }
    .offset-14 {
        margin-left: 420px;
    }
    .offset-15 {
        margin-left: 450px;
    }
    .clearRow {
        right: -27px;
        top: 4px;
        padding: 0px 5px 8px 6px;
    }
    #crossWords {
	margin: auto;
	padding: 0 30px;
	background: #ff9ea2;
    border-radius: 2px;
}
}
/* browser specific hacks */

textarea,
input {
    outline: none;
}
input::-ms-clear {
    display: none;
}